.title-slide {
  background-image: url(../images/Genomics.jpg);
  background-size: cover;
  
}

code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

.bash{
  overflow: auto;
  background-color: #f0f0f0;
  padding: 5px;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
  font-size: 0.7em;
  border-radius: 10px;
  padding: 15px;
  margin-bottom:20px;
}

aside.gdbar img {
    width: 88%;
    height: 82%;
    position: absolute;
    right: 0;
    margin: 8px 15px;
}

slides > slide:not(.nobackground)::before {
    background-size: 79px 30px;
    padding-left: 80px;
}

.caption{
    font-size: medium;
    padding-top: 20px;
}